<!DOCTYPE html>
<html>
<body>

<h1> Argument Mining Framework: Argumentation Scheme Classifier module (AMF-ARI).</h1>

<h3> Functionality: Predict the argumentation scheme that matches the inference argumentative structures. Currently, up to 20 argumentation schemes can be predicted: Argument From Analogy, Argument From Best Explanation, Argument From Cause to Effect, Argument From Expert Opinion, Argument From Example, Argument From Ignorance, Argument From Position to Know, Argument From Popular Opinion, Argument From Popular Practice, Argument From Precedent, Argument From Established Rule, Argument From Sunk Costs, Argument From Sign, Argument From Threat, Argument From Verbal Classification, Argument From Waste, Argument From Witness Testimony, Direct ad Hominem, Inconsistent Commitment, and Slippery Slope.</h3>

<p> <b>Expected Input:</b> xAIF file containing the inference relations (RA) between the propositional argumentative nodes (I). </p>

<p> <b>Expected Output:</b> xAIF file with the "Default Inference" relations have been replaced by a specific argumentation scheme (e.g., "Argument From Analogy").</p>

</body>
</html>